.show {
  pointer-events: auto;
  visibility: visible;
  /* display: flex; */
}

.hide {
  visibility: hidden;
}

.hidden {
  display: none;
}

.shown {
  display: inherit;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.fixed {
  position: fixed;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  box-sizing: border-box;
  display: flex;
}

.block {
  display: block;
}

*.unselectable {
  -webkit-user-select: none;
  user-select: none;
}

@for $i from 10 through 100 {
  .padding-top-#{$i} {
    padding-top: #{$i}px;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px;
  }
  .padding-left-#{$i} {
    padding-left: #{$i}px;
  }
  .padding-right-#{$i} {
    padding-right: #{$i}px;
  }
  $i: $i + 9;
}
