//* Home
main #home a:hover {
  text-decoration: none;
}

//* Sim
main #import tr.active {
  background: rgba(255, 255, 255, 0.5);
}
//* Import
main #import {
}
main #import .input-container {
  width: 45%;
}
main textarea#importInput {
  width: 100%;
  border: 1px solid black;
  background: $color-input;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

//* Result

main #sim-results .delete-confirm {
  border: 1px solid black;
  background: $color-input;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin-right: 15px;
}

main #current-result {
  box-sizing: border-box;
  padding: 10px 20px;
}

main #current-result #character-info {
  background: $color-main;
}

main #current-result .profile-image {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 0px;
  padding-left: 10px;
  border-left: 5px solid $color-accent;
  height: 116px;
  width: 265px;
}

main #current .inset-image {
  flex: 0 0 auto;
  max-width: none;
  margin-right: 20px;
  margin-left: 0px;
}
main #current-result .player-name {
  box-sizing: border-box;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0px;
  letter-spacing: 0.2em;
}

main #current-result .player-dps {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

main #current-result .player-other {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
  opacity: 0.875;
}

main #current-result .sim-type {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
  opacity: 0.875;
}

main #current-result .info-container {
  box-sizing: border-box;
}

main #current-result .right-buttons a {
  color: #000;
}

main #current-result .button-right {
  box-sizing: border-box;
  margin: 0 0px 0 5px;
}

main #current-result .spacer {
  width: 10%;
}

//* Other
main input.dark-input,
main select.dark-input {
  border: 1px solid black;
  background: $color-input;
  color: #000;
  font-size: 12px;
}
main input.dark-input:focus,
main select.dark-input:focus,
main textarea.dark-textarea:focus {
  background: $color-input;
  color: #000;
}

main input.dark-input::placeholder,
main select.dark-input::placeholder,
main textarea.dark-textarea::placeholder {
  color: $color-main;
}

main textarea.dark-textarea {
  width: 100%;
  border: 1px solid black;
  background: $color-input;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
main textarea.dark-textarea :focus {
  background: $color-input;
  color: #000;
}

main .table-dark {
  background: $color-box;
}

main .table-dark th,
main .table-dark td,
main .table-dark thead th {
  border-color: $color-footer;
}

main .table-dark tr:nth-child(odd) {
  //   border: 1px solid $color-footer;
}

main .table-dark tr:nth-child(even) {
  //   border: 1px solid $color-footer;
}
