//* Nav
nav a.navbar-brand{
    color: $color;
}
nav a.nav-link {
    color: $color-accent;
}

nav .nav-tabs {
    padding-top:22px;
    border-bottom: 0;
}

//* Header 

header .nav-item a.nav-link.active {
    background: $color-box;
    color: $color;
}

header .nav-item a:hover {
color: #fff;
}

nav .nav-tabs {
    padding-top:22px;
    border-bottom: 0;
}
//* Main

//* Footer
footer>a{
    font-size: 12px;
}

footer .heading {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

footer .block {
    box-sizing: border-box;
    margin-top: 20px; 
    margin-bottom: 20px; 
    border-width: 4px; 
    border-color: rgb(102, 102, 106);
}

footer .text {
    box-sizing: border-box; 
    font-size: 16px;
    margin: 0px; 
    opacity: 0.875;
}

//* Misc
main .home-item {
    height:130px;
    box-sizing: border-box;
    align-items: center;
    margin: 0px;
    background-color: rgb(41, 41, 41);
    padding: 0px;
    border-radius: 10px;
    border: 1px solid black;
}