//* Home
main #home a:hover {
  text-decoration: none;
}

//* Sim

//* Import
main #import {
}
main #import .input-container {
  width: 45%;
}
main textarea#importInput {
  width: 100%;
  border: 1px solid black;
  background: $color-input;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

main .table-dark {
  background: $color-box;
}

main .table-dark th,
main .table-dark td,
main .table-dark thead th {
  border-color: $color-footer;
}

main .table-dark tr:nth-child(odd) {
  //   border: 1px solid $color-footer;
}

main .table-dark tr:nth-child(even) {
  //   border: 1px solid $color-footer;
}
