body {
  user-select: none; //! important
  font-family: Helvetica, Helvetica Neue, Lato, Arial, sans-serif;
  position: relative;
  color: $color;
  height: 100vh;
  width: 100%;
  background-color: $color-main;
  overflow-x: hidden;
}

a {
  color: $color-accent;
}

a:hover {
  text-decoration: none;
}

p {
  color: $color;
  font-size: 16px;
}

h2 {
  color: $color-accent;
  font-size: 24px;
}
