//! Wrapper
// #wrapper, #root {
// width:100%;
// height:100%;
// }

//* Nav
nav {
  background: rgba(0, 0, 0, 0.875);
  top: 0;
  left: 0; // right: 0;
  position: fixed;
  height: 65px;
  z-index: 99;
}

.navbar {
  width: 100%;
  position: fixed;
}

nav a.navbar-brand {
  color: $color;
}
nav a.nav-link {
  color: $color-accent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5rem;
}

nav .nav-tabs {
  padding-top: 22px;
  border-bottom: 0;
}

//* Header

header {
  width: 100%;
}

header .nav-item a.nav-link.active {
  background: $color-box;
  color: $color;
}

header .nav-item a:hover {
  color: #fff;
}

//* Main
main {
  padding-top: 65px; // height: 310px;
  overflow-y: hidden;
  overflow-x: hidden;
  min-height: 482px; // max-height: 80px;
}

main .container {
  max-width: 1200px;
}

main .home-item {
  display: flex;
  height: 130px;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  background-color: rgb(41, 41, 41);
  padding: 0;
  border-radius: 10px;
  border: 1px solid black;
}

main .item-image {
  box-sizing: border-box;
  width: 110px;
  height: 110px;
}

main .item-text {
  box-sizing: border-box;
}

main .item-text h2,
main .item-text p {
  margin: 0;
}

main h2.heading {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: uppercase;
}

main p.description {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  opacity: 0.875;
}

//* Footer
// TODO STICKY TO BOTTOM
footer {
  width: 100%;
  opacity: 0.5;
  background-color: $color-footer;
  border-top: 1px solid rgba(255, 255, 255, 0.19);
  height: 245px;
  margin-top: 40px;
  padding-top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

footer > a {
  font-size: 12px;
}

footer .heading {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

footer .block {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 4px;
  border-color: rgb(102, 102, 106);
}

footer .text {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  opacity: 0.875;
}
